!!!

%body

  .sidebar
    .sidebar-user
      .sidebar-user__name 名前名前名前名前
      .sidebar-user__edit
        %i.far.fa-edit
        %i.fa.fa-cog

    .sidebar-group
      .sidebar-group__name グループ名
      .sidebar-group__message メッセーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーージ




  .contents
    .content-top
      .content-top__group グループ名
      %input{:class => "btn", :type => "submit", :value => "EDIT"}/

      .content-top__members  ken takesi



    .content-main
      .content-main__message
        .content-main__message__name  kenmorita
        .content-main__message__days  2018/11/28
        .content-main__message__message  hellow!


    .content-bottom
      %input{:class => "example", :type => "text"}/
      %input{:class => "btn2", :type => "submit", :value => "Send"}/


